doctype html
title Ads
meta(charset='UTF-8')
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

nav.navbar.navbar-inverse
  .w3-row.w3-padding.w3-red
    .w3-col.s2
      a(href='/') Home
    .w3-col.s2
      a(href='/login') Sign In
    .w3-col.s2
      a(href='/register') Sign Up
    .w3-col.s2
      a(href='/logout') Logout
    .w3-col.s2
      a(href='/advertisment') View Products

