html,
form {
    height: 80%;
    padding-top: 10px;
    margin: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px grey;
    line-height: 1.4;
}


    form label {
        color: #3e3e3e;
        font-weight: 600;
        display: block;
    }

    form input[type=text],
    form input[type=email],
    form input[type=password],
    form select,
    form textarea {
        -webkit-appearance: none;
        display: block;
        border: 0;
        padding: 0.2em;
        font-size: 2em;
        border-radius: 6px;
        border: solid 1px #ddd;
        background: #fff;
        color: #bbb;
        box-shadow: inset 0px 2px 3px 1px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025);
        width: 100%;
        -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    }
.form-group {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
}

    .form-group .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 5px;
        font-size: 16px;
        margin: 2px 0px 2px 0px;
    }

        .form-group .form-control:focus {
            z-index: 2;
        }

    .form-group input[type="email"] {
        margin-bottom: 1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-group input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: yellow;
    text-align: left;
}
