doctype html
title ads
h1 The Site which can make your life easier 
meta(charset='UTF-8')
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
link(rel='stylesheet', href='/stylesheets/main.css')
div(style='height:70vh; width:99vw;font-size:36px;background-image:url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); background-attachment:fixed; background-repeat:no-repeat; font-weight:bold; text-align: center;')


nav.navbar.navbar-inverse
  .w3-row.w3-padding.w3-red
    .w3-col.s2
      a(href='/') Home
    .w3-col.s2
      a(href='/register') SignUp
    .w3-col.s2
      a(href='/login') SignIn
    .w3-col.s2
      a(href='/logout') Logout
    .w3-col.s2
      a(href='/advertisment') View PROducts


  // Menu Container
  #menu.w3-container
  h3
  strong Advertisement-Display
  p
      .w3-row.w3-center.w3-card.w3-padding
          .w3-col.s6.tablink
      #Add.w3-container.menu.w3-padding-48.w3-card
        include add



   


